@charset "UTF-8";
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: 1.25;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #000000;
  color: #ffffff;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1210px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 980px) {
  .container {
    max-width: 750px;
  }
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0;
}

.logo {
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

input.error,
textarea.error {
  border-color: red;
}

.footer {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background-color: #000000;
}
.footer .footer_inner {
  height: 330px;
  display: flex;
  align-items: center;
}
.footer a {
  font-weight: 700;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup__opas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup__wrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
  z-index: 9999;
  padding: 20px;
  max-width: 460px;
  width: 100%;
}

.popup__close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -30px;
  right: -30px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  cursor: pointer;
  background: #fff url(..img/svg/close.svg) 50% 50%/65% no-repeat;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #dcdcdc;
  transition: all 0.4s ease 0s;
  transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
}
.scroll-up:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 3px solid red;
  width: 10px;
  height: 10px;
  border-right-width: 0;
  border-bottom-width: 0;
  transition: inherit;
  opacity: 0.6;
}
.scroll-up__path {
  box-sizing: border-box;
  fill: none;
  stroke: red;
  stroke-width: 3px;
  transition: all 0.4s ease 0s;
}
.scroll-up.scroll-up_active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-up:hover:before {
  border-color: red;
  opacity: 1;
}

@media (max-width: 1200px) {
  /**/
}
@media (max-width: 1024px) {
  /**/
}
@media (max-width: 992px) {
  /**/
}
@media (max-width: 768px) {
  /**/
}
@media (max-width: 480px) {
  /**/
}
@media (max-width: 360px) {
  /**/
}
h3 {
  color: #b8860b;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.button {
  min-width: 215px;
  color: #ffffff;
  padding: 12px;
  background-color: #dd3a37;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 1.4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 4px;
  transition: 0.4s;
}
.button.a {
  color: inherit;
}
.button:hover {
  background-color: #990000;
}

a {
  color: #b8860b;
  transition: 0.3s;
}
a:hover {
  color: #ffffff;
}

.banner {
  width: 100%;
  padding: 0 15px;
  height: 800px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 500px) {
  .banner {
    height: 500px;
  }
}
.banner .text_block {
  margin-bottom: 97px;
  max-width: 580px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner .text_block .title {
  line-height: 1.2;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 53px;
}
@media (max-width: 780px) {
  .banner .text_block .title {
    font-size: 30px;
  }
}
.banner .text_block .button {
  padding: 18px 32px;
  margin-bottom: 50px;
}
.banner .text_block .text {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 700;
}
@media (max-width: 780px) {
  .banner .text_block .text {
    font-size: 18px;
  }
}

.cards_wrap {
  padding: 65px 0;
}
.cards_wrap .card_inner {
  display: flex;
  flex-wrap: wrap;
}
.cards_wrap .card_item {
  width: calc(100% / 3);
  padding: 20px 15px 0 25px;
}
.cards_wrap .card_item:first-of-type {
  padding-top: 0;
}
@media (max-width: 980px) {
  .cards_wrap .card_item {
    width: calc(100%);
    padding: 0;
  }
}
.cards_wrap .card_item .item_block {
  display: flex;
  margin-bottom: 50px;
}
.cards_wrap .card_item .image {
  display: block;
  margin-right: 30px;
  width: 45px;
  height: 40px;
  object-fit: contain;
}
.cards_wrap .card_item .special_text {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.8;
  text-align: justify;
}
.cards_wrap .card_item .special_text span {
  color: #ffd700;
}
.cards_wrap .card_item .text {
  font-weight: 300;
  text-align: justify;
  line-height: 1.8;
}

.requirements_wrap .requirements_inner {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 50px 0;
}
.requirements_wrap h2 {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.requirements_wrap p {
  margin-bottom: 10px;
}
.requirements_wrap p:last-of-type {
  margin: 0;
}

.contacts_wrap .contacts_inner {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 50px 0;
  background-image: url("../img/fon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contacts_wrap h2 {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.contacts_wrap .button_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contacts_wrap .button_wrap .button {
  margin-bottom: 20px;
}
.contacts_wrap .button_wrap .button:last-of-type {
  margin: 0;
}

.social_wrap .contacts_inner {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 50px 0;
}
.social_wrap h2 {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.social_wrap .social {
  margin-right: 10px;
}
.social_wrap .social:hover .icon {
  fill: #dd3a37;
}
.social_wrap .social .icon {
  transition: 0.4s;
  width: 50px;
  height: 50px;
  fill: #ffffff;
}

.decoB_js {
  opacity: 0;
  transition: 0.8s 0.1s ease-in-out;
  transform: translateY(10%);
}

.active.decoB_js {
  transform: translateY(0);
  opacity: 1;
}