.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
}
.container {
}
.logo {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}