// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------
@import "mixin.scss";
// <ПОДКЛЮЧЕНИЕ MIXIN>------------------------------------------------------

// <ШРИФТЫ>-----------------------------------------------------------------

// <подключаем шрифты>------------------------------------------------------
@import "fonts.scss";
// </подключаем шрифты>-----------------------------------------------------

// <шрифт по умолчанию>-----------------------------------------------------
$font-family: 'Open Sans', sans-serif;
// </шрифт по умолчанию>----------------------------------------------------

// </ШРИФТЫ>----------------------------------------------------------------

// <ПЕРЕМЕННЫЕ>-------------------------------------------------------------
$max-width: 1200;
$min-width: 320;
$body-font-size: 16;
$padd-container: 15;
// </ПЕРЕМЕННЫЕ>------------------------------------------------------------

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------
@import "resize-style.scss";
// </ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>---------------------------------------------

// <BODY>--------------------------------------------------------------------
body {
    line-height: 1.25;
    font-size: $body-font-size+px;
    font-family: $font-family;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background-color: #000000;
    color: #ffffff;
}

// </BODY>--------------------------------------------------------------------

// <ОБОЛОЧКА>----------------------------------------------------------------
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #000000;
}

// </ОБОЛОЧКА>---------------------------------------------------------------

// <КОНТЕЙНЕР>---------------------------------------------------------------
.container {
    max-width: $max-width+px;
    margin: 0 auto;
    padding: 0 $padd-container+px;
    @media (max-width: 1210px){
       max-width: 970px;
    }
    @media (max-width: 980px) {
       max-width: 750px;
    }
}

// </КОНТЕЙНЕР>--------------------------------------------------------------

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>---------------------------
@import "class.scss";
// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>--------------------------

// <ШАПКА>-------------------------------------------------------------------
@import 'header.scss';
// </ШАПКА>------------------------------------------------------------------

// <ОСНОВНОЙ БЛОК>-----------------------------------------------------------

input,
textarea {
    &.error {
        border-color: red;
    }
}

// </ОСНОВНОЙ БЛОК>----------------------------------------------------------

// <404>---------------------------------------------------------------------
//===========================================================================
// </404>--------------------------------------------------------------------

// <ПОДВАЛ>------------------------------------------------------------------
@import "footer.scss";
// </ПОДВАЛ>-----------------------------------------------------------------

// <ПОПАП>-------------------------------------------------------------------
@import "popup.scss";
// </ПОПАП>------------------------------------------------------------------

// <ПРОКРУТКА ВВЕРХ>---------------------------------------------------------
.scroll-up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #dcdcdc;
    @include anim(0.4s, 0s);
    transform: translateY(25px);
    opacity: 0;
    visibility: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: 3px solid red;
        width: 10px;
        height: 10px;
        border-right-width: 0;
        border-bottom-width: 0;
        transition: inherit;
        opacity: 0.6;
    }

    &__path {
        box-sizing: border-box;
        fill: none;
        stroke: red;
        stroke-width: 3px;
        @include anim(0.4s, 0s);
    }

    &.scroll-up_active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &:hover {
        &:before {
            border-color: red;
            opacity: 1;
        }
    }
}

// </ПРОКРУТКА ВВЕРХ>--------------------------------------------------------

// <ПОДКЛЮЧЕНИЕ МЕДИАЗАПРОСОВ>-----------------------------------------------
@import "media.scss";
// </ПОДКЛЮЧЕНИЕ МЕДИАЗАПРОСОВ>----------------------------------------------


.container{
}
h3{
    color: #b8860b;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.button{
    min-width: 215px;
    color: #ffffff;
    padding: 12px;
    background-color: #dd3a37;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1.4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    transition: 0.4s;
    &.a{
       color: inherit; 
    }
    &:hover{
        background-color: #990000;;
    }
}

a{
    color: #b8860b;
    transition: 0.3s;
    &:hover{
        color: #ffffff;
    }
}
.banner{
    width: 100%;
    padding: 0 15px;
    height: 800px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media (max-width: 500px) {
       height: 500px;
     }
    .text_block{
        margin-bottom: 97px;    
        max-width: 580px;
        color:#ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .title{
            line-height: 1.2;
            font-weight: 700;
            font-size: 50px;
            text-transform: uppercase;
            margin-bottom: 53px;
            @media (max-width: 780px) {
               font-size: 30px;
            }
        }
        .button{
            padding: 18px 32px;
            margin-bottom: 50px;
        }
        .text{
            font-size: 18px;
            line-height: 1.8;
            font-weight: 700    ;
            @media (max-width: 780px) {
                font-size: 18px;
             }
        }
    }
}

.cards_wrap {
    padding: 65px 0;
    .card_inner {
        display: flex;
        flex-wrap: wrap;
    }
    .card_item {
        width: calc(100% / 3);
        padding: 20px 15px 0 25px;
        &:first-of-type{
            padding-top: 0;
        }
        @media (max-width: 980px) {
            width: calc(100%);
            padding: 0;
        }
    

        .item_block {
            display: flex;
            margin-bottom: 50px;
        }
        .image{
            display: block;
            margin-right: 30px;
            width: 45px;
            height: 40px;
            object-fit: contain;
        }
        
        .text_block{}
        .special_text{
            font-weight: 700;
            color:rgba(255,255,255,0.4);
            line-height: 1.8;
            text-align: justify;
            span{
                color:#ffd700;
            }
        }
        .text {
            font-weight: 300;
            text-align: justify;
            line-height: 1.8;
        }
    }
 
}

.requirements_wrap {
    .requirements_inner {
        border-top: 2px solid rgba(255,255,255,0.1) ;
        border-bottom: 2px solid rgba(255,255,255,0.1) ;
        padding: 50px 0;
    }
    h2{
        font-weight: 700;
        font-size: 23px;
        line-height: 1.8;
        margin-bottom: 20px;
    }
    p{
        margin-bottom: 10px;
        &:last-of-type{
            margin: 0;
        }
    }
}

.contacts_wrap {
    .contacts_inner {
        border-top: 2px solid rgba(255,255,255,0.1) ;
        border-bottom: 2px solid rgba(255,255,255,0.1) ;
        padding: 50px 0;
        background-image: url("../img/fon.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    h2{
        font-weight: 700;
        font-size: 23px;
        line-height: 1.8;
        margin-bottom: 20px;
    }
    .button_wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .button{
            margin-bottom: 20px;
            &:last-of-type{
                margin: 0;
            }
        }
    }
}

.social_wrap{

    .contacts_inner {
        border-top: 2px solid rgba(255,255,255,0.1) ;
        border-bottom: 2px solid rgba(255,255,255,0.1) ;
        padding: 50px 0;
    }
    h2{
        font-weight: 700;
        font-size: 23px;
        line-height: 1.8;
        margin-bottom: 20px;
    }
    .social{
        margin-right: 10px;
        &:hover{
            .icon{
                fill:#dd3a37;
            }
        }
        .icon{
            transition: 0.4s;
            width: 50px;
            height: 50px;
            fill: #ffffff;
        }
    }
}

  
  .decoB_js {
    opacity: 0;
    transition: 0.8s 0.1s ease-in-out;
    transform: translateY(10%);
  }
  
 


  .active {
    &.decoB_js {
      transform: translateY(0);
      opacity: 1;
    }
  }